body {
  font-family: Atkinson Hyperlegible, -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;

  code {
    font-family: Berkeley Mono, Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
  }
}

.error p {
  color: red;
}

a.button {
  padding: 10px 30px;
  border-radius: 6px;
  background-color: var(--button-base);
  color: var(--form-text);
  text-align: center;
  cursor: pointer;
  display: inline-block;
  border: none;
  font-size: 16px;
  text-decoration: none;
}